@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

@keyframes toRight{
    from{
        transform: translateX(-20px);
    }
    to{
        transform: translateX(0);
    }
}

html{
    height: 100vh;
    overflow-y: hidden;
}

.mainPage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0px -20px 20px rgba(0, 0, 0, 0.3);
    background-image: url(../../Images/Backgrounds/BackgroundColor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #292929;
    
}
.title-container h1{
    font-family: "Oswald";
    margin: 0;
}

.mainPage h1 span{
    /* color: #FF7A30; */
}

.title-container{
    display: flex;
    align-items: center;
    color: #333333;
    margin-top: 1rem;
    padding: 0px 2rem;
}

.orgList{
    padding: 1rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    justify-content: center;
    scrollbar-width: thin;
    overflow-y: auto;
}

.itemList{
    background-color:transparent;
    border: solid 2px #525252;
    border-radius: 0.5rem;
    height: 7.5rem;
    display: flex;
    align-items: center;
    padding: 1rem;  
    font-family: "ROBOTO";
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
    animation: fadeIn 0.5s forwards, toRight 0.5s;
    transition: box-shadow 0.20s, transform 0.25s;
}

.itemList:hover{
    box-shadow: 0.3rem 0.3rem 0.4rem #00000085;
    transform: translate(-3px, -4px);
}

.itemList:active{
    box-shadow: 0rem 0rem 0rem #00000085;
    transform: translate(0px, 0px);
}

.pictureFrame{
    margin-right: 15px;
}

.itemList .pictureFrame img{
    width:  7.5rem;
    object-fit: cover;
    object-position: center;
}

.title-description{
    flex: 1;
}

.title-description .details span, .title-description .details p, .title-description .details h2{
    margin: 0;
}

.title-description .details span, .title-description .details p{
    font-size: 15px;
    color: #292929;
}

.title-description .details span::-webkit-scrollbar, .title-description .details p::-webkit-scrollbar{
    display: none;
}

.topSection{
    display: flex;
    justify-content: space-between;    
}

.topSection h2{
    margin: 0;
    font-size: 20px;   

}

.details{
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0rem;
    row-gap: 0.4rem;
    font-size: 20px;
}

.details a{
    width: 8rem;
}

.details button{
    padding: 0.4rem 2rem;
    margin-top: 5px;
    border: solid 1px #292929;
    flex: 1;
    color: #292929;
    font-family: "ROBOTO";
    background-color: transparent;
    transition: box-shadow 0.20s, transform 0.25s;
}

.details a{
    display: flex;
}

.details button:hover{
    box-shadow: 0.3rem 0.3rem 0.4rem #00000085;
    transform: translate(-3px, -4px);
}

.details button:active{
    box-shadow: 0rem 0rem 0rem #00000085;
    transform: translate(0px, 0px);
}




@media (max-width: 768px) {
    .title-container{
        height: 5rem;
        padding: 0rem 1.5rem;
        font-size: 12px;
    }

    .pictureFrame{
        margin-right: 10px;
    }

    .details{
        row-gap: 0.2rem;
    }
    
    .topSection h2{
        font-size: 15px;      
    }

    .title-description .details span, .title-description .details p{
        font-size: 12px;
        line-height: 15px;
        color: #c4c4c4;
    }

    .details button{
        padding: 0.4rem 0rem;
        margin-top: 15px;
        font-size: 11px;
    }
}

@media (max-width: 425px) {
    .title-container{
        height: 4rem;
        padding: 0rem 1.5rem;
        font-size: 10px;
    }

    .itemList{
        height: 6.5rem;
    }

    .itemList .pictureFrame img{
        width:  7rem;
        object-fit: cover;
        object-position: center;
    }

    .topSection, .details{
        row-gap: 0.2rem;
        width: 14.5rem;
    }
    
    .topSection h2{
        font-size: 15px;      
        text-wrap: nowrap;
        overflow-x: scroll;
    }

    .title-description .details span, .title-description .details p{
        text-wrap: nowrap;
        overflow-x: scroll;
        font-size: 10px;
        line-height: 15px;
        color: #c4c4c4;
    }

    .details button{
        padding: 0.3rem 0rem;
        margin-top: 5px;
        font-size: 10px;
    }
    
}

@media (max-width: 375px) {
    .title-container{
        height: 4rem;
        padding: 0rem 1.5rem;
        font-size: 10px;
    }

    .itemList{
        height: 6.5rem;
    }

    .pictureFrame{
        margin-right: 10px;
    }

    .itemList .pictureFrame img{
        width:  6.5rem;
        object-fit: cover;
        object-position: center;
    }

    .topSection, .details{
        row-gap: 0.2rem;
        width: 11.5rem;
        margin-top: 5px;
    }
    
    .topSection h2{
        font-size: 13px;      
        text-wrap: nowrap;
        overflow-x: scroll;
    }

    .title-description .details span, .title-description .details p{
        text-wrap: nowrap;
        overflow-x: scroll;
        font-size: 10px;
        line-height: 10px;
        color: #c4c4c4;
    }

    .details button{
        padding: 0.3rem 0rem;
        margin-top: 15px;
        font-size: 10px;
    }
    
}

@media (max-width: 320px) {
    .title-container{
        height: 3rem;
        padding: 0rem 1rem;
        font-size: 9px;
    }

    .itemList{
        height: 6rem;
    }

    .pictureFrame{
        margin-right: 10px;
    }

    .itemList .pictureFrame img{
        width:  6rem;
        object-fit: cover;
        object-position: center;
    }

    .topSection, .details{
        row-gap: 0.2rem;
        width: 10rem;
        margin-top: 0px;
    }
    
    .topSection h2{
        margin-top: 15px;
        font-size: 13px;      
        text-wrap: nowrap;
        overflow-x: scroll;
    }

    .title-description .details span, .title-description .details p{
        text-wrap: nowrap;
        overflow-x: scroll;
        font-size: 10px;
        line-height: 10px;
        color: #c4c4c4;
    }

    .details button{
        padding: 0.2rem 0rem;
        margin-top: 5px;
        font-size: 10px;
    }
    
}


