.mainPage{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainPage h1{
    font-family: "ROBOTO";
    color: #eee;
}

.mainPage h1 span{
    color: #FF7A30;
}

.title-container{
    display: flex;
    align-items: center;
    height: 6rem;
    padding: 0px 2rem;
    background-color: #131314;
}

.orgList{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    justify-content: center;
}

.itemList{
    background-color: #131314;
    color: #eee;
    height: 7.5rem;
    display: flex;
    align-items: center;
    padding: 1rem;  
    font-family: "ROBOTO";
}

.pictureFrame{
    margin-right: 15px;
}

.itemList .pictureFrame img{
    width:  7.5rem;
    object-fit: cover;
    object-position: center;
}

.title-description{
    flex: 1;
}

.title-description .details span, .title-description .details p, .title-description .details h2{
    margin: 0;
}

.title-description .details span, .title-description .details p{
    font-size: 15px;
    color: #c4c4c4;
}

.title-description .details span::-webkit-scrollbar, .title-description .details p::-webkit-scrollbar{
    display: none;
}

.topSection{
    display: flex;
    justify-content: space-between;    
}

.topSection h2{
    margin: 0;
    font-size: 20px;   

}

.details{
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0rem;
    row-gap: 0.4rem;
    font-size: 20px;
}

.details button{
    padding: 0.4rem 2rem;
    margin-top: 5px;
    border: solid 1px #eee;
    flex: 1;
    color: #eee;
    font-family: "ROBOTO";
    background-color: transparent;
}

.details a{
    display: flex;
}

.details button:hover{
    background-color: #eeeeee13;
}

.details button:active{
    background-color: #eeeeee8f;
}


@media (max-width: 768px) {
    .title-container{
        height: 5rem;
        padding: 0rem 1.5rem;
        font-size: 12px;
    }

    .pictureFrame{
        margin-right: 10px;
    }

    .details{
        row-gap: 0.2rem;
    }
    
    .topSection h2{
        font-size: 15px;      
    }

    .title-description .details span, .title-description .details p{
        font-size: 12px;
        line-height: 15px;
        color: #c4c4c4;
    }

    .details button{
        padding: 0.4rem 0rem;
        margin-top: 15px;
        font-size: 11px;
    }
}

@media (max-width: 425px) {
    .title-container{
        height: 4rem;
        padding: 0rem 1.5rem;
        font-size: 10px;
    }

    .itemList{
        height: 6.5rem;
    }

    .itemList .pictureFrame img{
        width:  7rem;
        object-fit: cover;
        object-position: center;
    }

    .topSection, .details{
        row-gap: 0.2rem;
        width: 14.5rem;
    }
    
    .topSection h2{
        font-size: 15px;      
        text-wrap: nowrap;
        overflow-x: scroll;
    }

    .title-description .details span, .title-description .details p{
        text-wrap: nowrap;
        overflow-x: scroll;
        font-size: 10px;
        line-height: 15px;
        color: #c4c4c4;
    }

    .details button{
        padding: 0.3rem 0rem;
        margin-top: 5px;
        font-size: 10px;
    }
    
}

@media (max-width: 375px) {
    .title-container{
        height: 4rem;
        padding: 0rem 1.5rem;
        font-size: 10px;
    }

    .itemList{
        height: 6.5rem;
    }

    .pictureFrame{
        margin-right: 10px;
    }

    .itemList .pictureFrame img{
        width:  6.5rem;
        object-fit: cover;
        object-position: center;
    }

    .topSection, .details{
        row-gap: 0.2rem;
        width: 11.5rem;
        margin-top: 5px;
    }
    
    .topSection h2{
        font-size: 13px;      
        text-wrap: nowrap;
        overflow-x: scroll;
    }

    .title-description .details span, .title-description .details p{
        text-wrap: nowrap;
        overflow-x: scroll;
        font-size: 10px;
        line-height: 10px;
        color: #c4c4c4;
    }

    .details button{
        padding: 0.3rem 0rem;
        margin-top: 15px;
        font-size: 10px;
    }
    
}

@media (max-width: 320px) {
    .title-container{
        height: 3rem;
        padding: 0rem 1rem;
        font-size: 9px;
    }

    .itemList{
        height: 6rem;
    }

    .pictureFrame{
        margin-right: 10px;
    }

    .itemList .pictureFrame img{
        width:  6rem;
        object-fit: cover;
        object-position: center;
    }

    .topSection, .details{
        row-gap: 0.2rem;
        width: 10rem;
        margin-top: 0px;
    }
    
    .topSection h2{
        margin-top: 15px;
        font-size: 13px;      
        text-wrap: nowrap;
        overflow-x: scroll;
    }

    .title-description .details span, .title-description .details p{
        text-wrap: nowrap;
        overflow-x: scroll;
        font-size: 10px;
        line-height: 10px;
        color: #c4c4c4;
    }

    .details button{
        padding: 0.2rem 0rem;
        margin-top: 5px;
        font-size: 10px;
    }
    
}


