main{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.registrationContainer{
    padding: 1rem 1rem;
    color: #eee;
    display: flex;
    height: 100%;
    background-color: rgb(14, 13, 13);
    background-image: url(../../Images/Backgrounds/abstractBlender.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

/* Registration Container Section */

.registrationContainer form{
    background-color: #1C1C1C;
    padding: 15px;
}

.formHeader{
    display: flex;
    align-items: center;
}

.formHeader img{
    background-color: gray;
    width: 5rem;
    height: 4.7rem;
    margin-right: 0.6rem;
}

.formHeader h4 span{
    color: #FF7A30;
}

.studentInformationBorder, .contactDetailsBorder{
    border-bottom: solid 1px #FF7A30;
    margin: 1rem 0rem;
}

.studentInformationBorder p, .contactDetails p{
    margin: 0;
    font-size: 0.8rem;
    color: #FF7A30;
}

.studentInformation, .contactDetails{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    row-gap: 0.5rem;
}

.studentId, .nameContainer, .extraInfo, .contactsContainer, .location1Container, .location2Container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.4rem;
    row-gap: 0.5rem;
}

.studentInformation input, .contactDetails input{
    background-color: transparent;
    font-family: "ROBOTO";
    font-size: 1rem;
    color: #eee;
    border: none;
    border-bottom: solid 1px #eee;
    padding: 0.4rem 0.2rem;
    flex: 1 0 10rem;
}

.studentInformation input::placeholder, .contactDetails input::placeholder{
    color: #ffffffbb;
}

.studentInformation input:focus, .contactDetails input:focus{
    outline: none;
}

.fileAndSubmit{
    padding: 1.5rem 0rem 1rem 0rem;
    display: flex;
    justify-content: right;
}

.fileAndSubmit label{
    display: none;
    align-items: center;
    border: solid 1px;
    font-size: 0.7rem;
    padding: 0.3rem 0rem;
}

.fileAndSubmit label input[type="file"]::-webkit-file-upload-button{
    border: none;
    background-color: transparent;
    color: #FF7A30;
}

.fileAndSubmit label:hover{
    background-color: #c7c7c7be;
}

.fileAndSubmit label:active{
    background-color: rgba(78, 78, 78, 0.42);
}

.fileAndSubmit button{
    background-color: #FF7A30;
    color: #eee;
    border: none;
    padding: 0.6rem 0.7rem;
}

.fileAndSubmit button:hover{
    background-color: #ff7830be;
}

.fileAndSubmit button:active{
    background-color: #ff78306b;
}

/* Bottom Section */
.associationsMissionVision{
    color: #eee;
    padding: 1rem 6rem;
    display: flex;
    column-gap: 0.2rem;
    row-gap: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.associationsMissionVision section{
    display: flex;
    font-size: 0.9rem;
    width: 20rem;
    flex-direction: column;
    padding: 1rem;
}


@media (max-width: 768px) {
    .registrationContainer{
        padding: 1rem 1rem;
        flex-direction: column;
        text-align: center;
    }

    .leftSection{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0rem 1rem 0rem 1rem;
    }

    .associationsMissionVision{
        padding: 1rem 2rem;
    }
}

/* @media (max-width: 425px) {

} */

@media (max-width: 375px) {

}

/* @media (max-width: 320px) {
    
} */