body{
    background-color: #232323;
    margin: 0;
    padding-top: 3.6rem;
    font-family: "ROBOTO";
    color: #eee;
}

a:visited, a:active, a:hover, a{
    color: #eee;
}


a{
    text-decoration: none;
    cursor: pointer;
}

*{
    font-family: "ROBOTO";
}
