main{
    height: 95vh;
    width: auto; 
}

.logincontainer{
    padding: 0px 1.667vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0px -20px 20px rgba(0, 0, 0, 0.3);
    background-image: url(../../Images/Backgrounds/Loginbackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.TitleDesc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "ROBOTO";
    color: #eee;
    margin: 25px 0px;
}

.TitleDesc h1, .TitleDesc h3{
    margin: 0;

}

.TitleDesc h1 span{
    /* color: #ff3333; */
}

.TitleDesc h3{
    margin-left: 5px;
    color: #bdbdbd;
}

form{
    background-color: rgba(28, 28, 28, 0.85);
    color: white;
    font-family: "ROBOTO";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 400px; */
    /* height: 200px; */
    padding: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

form input:focus{
    outline: none;
}

form label{
    margin: 5px 1px;
    padding: 0;
    font-family: "ROBOTO";
    font-size: 13px;
}

form .Logo{
    margin: 0;
    font-size: 1.1rem;
    font-weight: 700;
}

form p{
    font-size: 11px;
    margin: 0px;
}

.buttoncontainer{
    display: flex;
    width: 100%;
}

.buttoncontainer button{
    background-color: transparent;
    column-gap: 0.4rem;
    color: #fff;
    font-weight: 5rem;
    font-weight: 600;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 4rem;
    border: solid 1px #7a7a7a;
    border-radius: 10px;
    margin: 1rem 0rem;    
}

.buttoncontainer button:hover{
    background-color: #ffffff18;
}

#applyText{
    color: #f9ffa2;
}

@media (max-width: 1142px){
    .logincontainer{
        flex-direction: column;
        justify-content: center;
        row-gap: 2rem;
    }
}

@media (max-width: 768px) {
    .TitleDesc h1{
        font-size: 25px;
    }
}

@media (max-width: 425px) {
    .TitleDesc h1{
        font-size: 18px;
    }
    .TitleDesc h3{
        font-size: 15px;
    }

    
}

@media (max-width: 500px) {
    .logincontainer{
        flex-direction: column;
        align-items: center;
    }

    .TitleDesc{
        text-align: center;
    }

    form{
        width: 19rem;
    }
}
