@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

@keyframes fadeInLeft {
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    to{
        opacity: 1;
        transform: translateX(0);
    }
}


p{
    margin: 0;
}

main{
    height: 100vh;
    width: auto; 
}

.LoginTitleForm{
    margin: 0;
    font-weight: bold;
}

.logincontainer{
    padding: 0px 4vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0px -20px 20px rgba(0, 0, 0, 0.3);
    background-image: url(../../Images/Backgrounds/BackgroundColor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
/* box-shadow: inset 0px 0px 20vw #292929; */
}

.TitleDesc{
    transform: translateX(-20px);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "ROBOTO";
    margin: 25px 0px;
    animation: fadeInLeft 0.5s forwards;
}

.TitleDesc h1, .TitleDesc p{
    margin: 0;

}

.TitleDesc h1{
    /* color: #ff3333; */
    font-style: "Oswald";
    color: #292929;
    font-weight: bolder;
}

.TitleDesc p{
    color: #292929;
    font-size: 1.4rem;
}

form{
    transform: translateX(20px);
    opacity: 0;
    border: solid 2px #292929;
    color: #292929;
    font-family: "ROBOTO";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    /* height: 200px; */
    padding: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* margin-right: 1vw; */
    animation: fadeInRight 0.5s forwards;
}

form input:focus{
    outline: none;
}

form label{
    margin: 5px 1px;
    padding: 0;
    font-family: "ROBOTO";
    font-size: 13px;
}

form .Logo{
    margin: 0;
    font-size: 1.1rem;
    font-weight: 700;
}

form p{
    font-size: 12px;
    font-weight: 400;
    margin: 0px;
}

.buttoncontainer{
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.buttoncontainer button{
    background-color: transparent;
    column-gap: 0.4rem;
    font-weight: 5rem;
    font-weight: 600;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.1rem;
    border: solid 1px #7a7a7a;
    /* border-radius: 10px; */
    margin: 0.5rem 0rem;    
}

.buttoncontainer button:hover{
    background-color: #ffffff18;
}

#applyText{
    color: #1e61ff;
}

#inputsContainer{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;    
    text-align: center;
    margin-top: 1.5rem;
}

#inputsContainer input{
    font-size: 1rem;
    border: none;
    padding: 0.43rem;
    border-bottom: solid 1px #292929;
    background-color: transparent;
}

#loginButtonInput{
    margin-top: 0.9rem;
    background-color: transparent;
    border: solid 1px #7a7a7a;
    padding: 0.5rem 0.1rem;
    font-weight: 5rem;
    font-weight: 600;
    flex: 1;
}

#passwordCon{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

#seePass{
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 0;
    top:0;
    border: none;
    background-color: transparent;
}

@media (min-width: 1420px){
    .logincontainer{
        padding: 0px 15vw;
    }

    form{
        margin-right: 4vw;
    }
}

@media (max-width: 1142px){
    .TitleDesc{
        text-align: center;
    }
    .logincontainer{
        flex-direction: column;
        justify-content: center;
        row-gap: 2rem;
    }
}