/* main{    --Before
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;

}

.registrationContainer{
    padding: 4rem 1.5rem;
    color: #eee;
    display: flex;
    background-color: rgb(14, 13, 13);
    background-image: url(../../Images/Backgrounds/abstractBlender.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: space-between;
}

.left-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0;
}

.adviser, .description, .associationTitle{
    margin: 0.4rem 0rem;
}

.left-section .description{
    width: 90%;
    opacity: 80%;
    user-select: none;
}

.left-section img{
    background-color: gray;
    width: 8rem;
    height: 7.7rem;
    border-radius: 10%;
}

form{
    background-color: rgba(28, 28, 28, 0.85);
    padding: 2rem 1.2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    border-radius: 0.5rem;
}

.labelconatainer div{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;;
}

.labelconatainer div h2{
    margin: 0;
}

.labelconatainer p{
    margin: 0;
}

form input{
    color: #eee;
    background-color: transparent;
    width: 20rem;
    padding: 0.3rem 0.3rem;
    border: none;
    border-bottom: solid 1px #fff;
    font-size: 0.91rem;
}

form input:focus{
    outline: none;
}

form input::placeholder{
    color: #b8b8b8;
}

.submitbutton{
    padding: 0.6rem 0rem;
    flex: 1;
    border: none;
    border-radius: 1rem;
    font-weight: 600;
}

.bottomSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
    padding: 1rem;
}

.mission, .vision{
    background-color: rgba(28, 28, 28, 0.85);
    border-radius: 1rem;
    text-align: center;
    width: 95%;
}

@media (max-width: 780px) {
    .registrationContainer{
        flex-direction: column;
        align-items: center;
    }

    .left-section{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
    }

    .left-section .description{
        width: 100%;
    }
}

@media (max-width: 425px) {
    form input{
        width: 17rem;
    }
} */
@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

@keyframes backgroundFade {
    from{
        opacity: 0;

    }
    to{
        opacity: 1;
    }
}

*{
    margin: 0;
}

main{
    background-image: url(../../Images/Backgrounds/abstractFree.gif);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #232323;
    padding: 3rem 0.5rem;
    animation: backgroundFade 1s forwards;
    height: 100%;
}

#assocLogo{
    opacity: 0;
    object-fit: cover;
    object-position: center;
    width: 9vw;
    border-radius: 10%;
    animation: fadeIn 0.8s forwards;
    animation-delay: 0.2s;
}

#assocTitle{
    opacity: 0;
    animation: fadeIn 0.8s forwards ;
    animation-delay: 0.4s;
}

#assocAdviser{
    opacity: 0;
    animation: fadeIn 0.8s forwards ;
    animation-delay: 0.6s;
}

h3{
    margin-top: 6vw;
}

#assocDescTitle{
    opacity: 0;
    animation: fadeIn 0.8s forwards ;
    animation-delay: 0.8s;
}

#assocDesc{
    text-align: center;
    margin: 0rem 22vw;
    opacity: 0;
    animation: fadeIn 0.8s forwards ;
    animation-delay: 1s;
}

#assocMissionTitle{
    opacity: 0;
    animation: fadeIn 0.8s forwards ;
    animation-delay: 1.2s;
}

#assocMission{
    text-align: center;
    margin: 0rem 25vw;
    opacity: 0;
    animation: fadeIn 0.8s forwards ;
    animation-delay: 1.4s;
}

#assocVisionTitle{
    opacity: 0;
    animation: fadeIn 0.8s forwards ;
    animation-delay: 1.6s;
}

#assocVision{
    text-align: center;
    margin: 0rem 25vw;
    opacity: 0;
    animation: fadeIn 0.8s forwards ;
    animation-delay: 1.8s;
}


#registerButton{
    opacity: 0;
    margin-top: 0.4rem;
    padding: 0.5rem 0.6rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: transparent;
    border: solid 2px #232323;
    color: #232323;
    transition: background-color 0.25s, color 0.20s;
    animation: fadeIn 0.8s forwards ;
    animation-delay: 0.7s;
}

#registerButton:hover{
    background-color: #232323;
    color: #eee;
}

#registerButton:active main{
    background-color: transparent;
    color: #232323;

}
