main{
    height: 100vh;
}

/* Association Header */
#topHeaderSection{
    display:flex;
    flex-direction: column;
    background-color: #131314;
    padding: 0rem 0.8rem 1.7rem 0.8rem;
    border-radius: 0.5rem;
    transition: background-color 0.25s;
}

#sectionHeader{
    display: flex;
    justify-content: right;
    user-select: none;
}

#headerOptions{ 
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    display: flex;
}

#EditOptions{
    background-color: #0a0a0a;
    border-radius: 0.5rem;
    /* padding: 0.5rem 1rem; */
    position: absolute;
    font-weight: 400;
    font-size: 1rem;
    right: 0;
    width: 11rem;
    top: 100%;
    display: none;
    flex-direction: column;
}

#EditOptions div{
    padding: 0.8rem 1rem;
}

#EditOptions div:hover{
    background-color: #1d1d1d;
}

#sectionBody, #nameContainer{
    display: flex;
}

#assocProfile{
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    -webkit-user-drag: none;
    user-select: none;
}

#nameContainer{
    flex-direction: column;
    justify-content: center;
    padding: 0rem 1rem;
}

/* List */

#List{
    display: grid;
    font-size: 0.8rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    column-gap: 0.8rem;
    row-gap: 0.8rem;   
    padding: 1rem 0rem;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

#midDiv{
    display: grid;
}

#midDiv{
    grid-template-rows: auto 1fr;
    row-gap: 0.8rem;
}

/* Middle Body Section */

#MiddleTotalContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0.6rem;
    column-gap: 0.6rem;
    width: 100%;
}

/* dash Records */

.dashRecords{
    background-color: #131314;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem 0.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    transition: background-color 0.25s;
}

.dashRecords:hover, #topHeaderSection:hover{
    background-color: #131314bb;
}

#MissionVisionSection{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

#MissionVisionSection div{
    background-color: #131314;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    border-radius: 0.7rem;
    padding: 1rem 0.8rem;
}

#dashboardMission, #dashboardVision, #dashboardAbout{
    font-size: 1rem;
}

#MissionVisionSection div textarea{
    font-family: "ROBOTO";
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    height: 15vh;
    resize: none;
    border: none;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    background-color: #181818;
    color: #fff;
}

#MissionVisionSection div textarea:focus{
    outline: none;
}

#optionResult{
    display: flex;
    justify-content: right;
    column-gap: 0.2rem;
}

#optionResult button{
    padding: 0.6rem 1rem;
    border: none;
    font-weight: 700;
    border-radius: 1rem;
}

#optionResult button:hover{
    background-color: #cccccc;
}

@media (max-width: 768px) {
    #List{
        font-size: 0.6rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .dashRecords{
        padding: 1rem 0.2rem;
    }
}

@media (max-width: 425px){
    #MiddleTotalContainer{
        grid-template-columns: 1fr;
    }

    #assocProfile{
        width: 5rem;
    }

    #nameContainer{
        font-size: 0.8rem;
    }
}