@keyframes fadeIn {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;;
    }
}

.animate--fadeIn{
    animation-duration: 0.55s;
    animation-iteration-count: 1;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
}

.delay-1{
    animation-duration: 0.60s;
}


.delay-2{
    animation-duration: 0.55s;
}


.delay-3{
    animation-duration: 0.50s;
}