main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    background-color: rgba(28, 28, 28, 0.85);
    padding: 2rem 3rem;
    width: 50%;
    border-radius: 0.6rem;
}

a:visited, a:active, a:hover, a{
    color: black;   
    text-decoration: none;
    cursor: pointer;
}


.joinedAssociationpfp{
    background-color: rgb(68, 68, 68);
    display: flex;
    width: 5.4rem;
    height: 5rem;
}

.middlesection{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.messageContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgContainer{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.hint{
    margin-top: 1rem;
    font-weight: 300;
    font-size: 1rem;
}

.inputContainer{
    flex: 1;
    display: grid;  
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    overflow: hidden;
}

.normalInput{
    padding: 0.6rem 0.5rem;
    font-size: 1rem; 
    border: solid 1px transparent;
    border-radius: 5px;  
}

.inputContainer p{
    font-size: 0.8rem;
    padding-left: 0.2rem;
}

.inputContainer select{
    padding: 0.6rem 0.2rem;
    font-size: 1rem;  
    border: none;
    border-radius: 5px; 
}

.inputContainer input:focus, .inputContainer select:focus{
    outline: none;
}

option[value=""][disabled]{
    display: none;
}

/* SELECT with :has */
select:has(option:checked){
    color: black;
}

select:has(option[value=""]:checked){
    color: gray;
}

.bottomsection{
    margin-top: 1rem;
    display: flex;
    justify-content: right;
}

.buttonContainer button{
    padding: 0.7rem 1.2rem;
    border-radius: 25px;
    border: none;
    transition: background-color 0.15s;
}

.buttonContainer button:hover{
    background-color: #d8d8d8;
}

.required{
    color: rgb(238, 59, 59);
}

.ErrorInput{
    border: solid 1px rgb(238, 59, 59);
}

.Errormessage{
    color: rgb(238, 59, 59);
    margin: none;
    font-size: 0.7rem;
}

@media (max-width: 868px) {
    .form{
        width: 100%;
        padding: 1rem 2rem;
    }
}

@media (max-width: 425px) {
    .middlesection{
        flex-direction: column;
        row-gap: 1rem;
    }

    .messageContainer{
        width: 100%;
    }

    .inputContainer{
        width: 100%;
    }
}