.ajs-message.ajs-custom { color: #fff;  background-color:rgb(219, 54, 54);  border-color: rgb(219, 54, 54); }


.main-header{
    background-color: #ffffff;
}

.main-header{
    padding: 1rem 1rem;
    display:flex;
    /* border: solid 2px #232323;  */
    align-items: center;
    row-gap: 0.6rem;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px #1f1f1f80;
}

.main-header input{
    background-color: transparent;
    border: solid 2px #232323; 
    /* color: #b9b9b9; */
    padding: 0.4rem 0.9rem;
    font-size: 1rem;
    width: 100%;
    border-radius: 1rem;
}

.searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;

}

.main-header input:focus{
    outline: none;
}

.searchButton{
    background-color: transparent;
    border: solid 2px #232323; 
    color: #b9b9b9;
    padding: 0.4rem 0.5rem;
    width: 1.2rem;
    border-radius: 50%;
    -webkit-user-drag: none;
    user-select: none;
}

.main-header button{
    background-color: #fff;
    /* color: #b9b9b9; */
    font-weight: 600;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 1rem;
    outline: solid 2px #232323;
    transition: background-color 0.15s;
}

.main-header button:hover{
    background-color: #27252518;
    outline-width: 2px;
}

.userList{
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
}

.userItem{
    background-color: #fff;
    color: #232323;
    /* border: solid 2px #131314;  */
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    transition: background-color 0.25s;
    font-weight: 300;
    box-shadow: 1px 1px 3px #00000080;
}

#user_adviser{
    font-weight: 600;
}

.DeactuserItem{
    opacity: 35%;
}

.userItem img{
    max-width: 2.5rem;
    max-height: 2.5rem;
    border-radius: 50%;
}

.item_left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#position{
    /* color:#ffffff6c; */
    font-size: 0.8rem;
}

#editUser{
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 0.3rem;
    background-color: transparent;
    color: #fff;
}

#editUser:hover{
    background-color: #ffffff13;
}

#editUser:active{
    background-color: #ffffff4b;
}

#forPopUpUser{
    display: none;
    background-color: #020202af;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
}

#pop-upFormUser, #pop-upUserEdit{
    /* Positioning */
    /* top: 25%;
    left: 50%;
    transform: translateY(-75%);
    transform: translateX(-50%); */
    /* Style */
    background-color: #003365;
    color: #ffffff;
    /* position: fixed; */
    border-radius: 1rem;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding: 1rem;
    width: 30rem;
    gap: 0.3rem;
    /* index */
    /* z-index: 101; */
}
form div{
    display: flex;
}

/* Form Header { */

.form-header{
    justify-content: space-between;
    align-items: center;
}

.form-header button{
    border: solid 1px #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 50%;
    padding: 0.3rem 0.5rem;
    font-weight: 300;
    user-select: none;
    transition: background-color 0.25s;
}

.form-header button:hover{
    background-color: #ffffff2f;
}

.form-header button:active{
    background-color: #c7c7c7d5;
}

.userItem{
    user-select: none;
    cursor: pointer;
}

/* } Form Header */

.form-body{
    flex-direction: column;
    row-gap: 0.5rem;
}

/* Form Footer { */
.form-footer{
    justify-content: right;
    gap: 0.3rem;
    margin-top: 0.5rem;
}

.form-footer button, .form-footer-2 button{
    padding: 0.5rem 1rem;
    border: solid 1px #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 1rem;
    font-weight: 600;
    transition: background-color 0.25s;
}

#remove_button{
    border-color: rgb(238, 59, 59);
    color: rgb(238, 59, 59);
}

#remove_button:hover{
    border-color: rgb(238, 59, 59);
    background-color: rgb(238, 59, 59);
    color: #fff;
}

.form-footer button:hover{
    background-color: #ffffff2f;
    color: #fff;
}

.form-footer button:active{
    background-color:#c7c7c7d5;
    color: #fff;
}
/* } Form Footer */

.normalInput{
    padding: 0.6rem 0.5rem;
    font-size: 1rem; 
    border: solid 1px transparent;
    border-radius: 5px;  
}

.form-body select:focus, .normalInput:focus{
    outline: none;
}

/* Upper Layer */

.upperlayer{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000b9;
    z-index: 105;
    display: none;
}

.upperlayer form{
    background-color: #003365;
    width: 300px;
    padding: 1rem 0rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    row-gap: 0.5rem;
}

.formheader{
    width: 90%;
    display: flex;
    justify-content: right;
    cursor: pointer;
    user-select: none;
}

#viewProfileImg{
    width: 80px;
    border-radius: 50%;
}

.infos{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
    width: 90%;   
}

.edit_infos{
    display: flex;
    flex-direction: column;
    width: 90%;
    row-gap: 0.5rem;
    display: none;
}

#cancelEdit, #back{
    width: 100%; 
}

.upperlayer form button{
    padding: 0.5rem;
    width: 90%;
    border: solid 1px #fff;
    border-radius: 1rem;
    background-color: transparent;
    color: #fff;
}

.upperlayer form button:hover{
    background-color: #ffffff15;
}

#saveChanges{
    border-color: rgb(56, 230, 94);
    color: rgb(56, 230, 94);
    width: 100%;
}

#removeUser{
    border-color: rgb(219, 54, 54);
    color: rgb(219, 54, 54);
    width: 100%;
}

#activateBtn{
    border-color: rgb(56, 230, 94);
    color: rgb(56, 230, 94);
    width: 100%;
}

#editInfo{
    border-color: rgb(54, 120, 219);
    color: rgb(54, 120, 219);
    width: 100%;
}

#saveChanges:hover, #cancelEdit:hover, #removeUser:hover, #editInfo:hover{
    background-color: #ffffff15;
}

#saveChanges:active, #cancelEdit:active, #removeUser:active, #editInfo:active{
    background-color: #ffffff60;
}

/* Upper Layer 2 */

.upperlayer2{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000080;
    z-index: 106;
    display: none;
}

#confirmation{
    background-color: #003365;
    color: #ffffff;
    padding: 1rem 0.5rem;
    user-select: none;
}

#confirmation p{
    margin: 0.5rem 0rem;
}

.confHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

#xbuttonConf{
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    border: none;
}

.options{
    display: flex;
    width: 100%;
    column-gap: 0.3rem;
    justify-content: right;

}

.options button{
    padding: 0.4rem 1rem;
    border: solid 1px #fff;
    border-radius: 1rem;
}

#yesbtn{
    border-color: rgb(219, 54, 54);
    background-color: transparent;
    color:rgb(219, 54, 54);
}

#nobtn{
    background-color: transparent;
    color:#fff;
}

#yesbtn:hover, #nobtn:hover{
    background-color: #ffffff1c;
}

#yesbtn:active, #nobtn:active{
    background-color: #ffffff50;
}

/* add  */

#addmember form input{
    width: 90%;
    padding: 0.3rem 0rem;
}

@media (max-width: 815px) {
    .userItem{
        font-size: 0.9rem;
        font-weight: 300;
    }
    #clubName{
        font-size: 0.5rem;
    }
}

@media (max-width: 580px) { 
    #pop-upFormUser, #pop-upUserEdit{
        width: 90%;
    }

    #user_adviser{
        font-size: 0.7rem;
    }
}